# Discord Bot Token and Server ID
DISCORD_TOKEN=discord_token_here
SERVER_ID=server_id_here

# Notion API Configuration
NOTION_TOKEN=
NOTION_VERSION=
NOTION_MEMBER_DATABASE_ID=
NOTION_PROJECT_DATABASE_ID=

RUST_LOG=info